.add-tag {
    border: 2px solid rgb(238, 234, 234);
}

.tag-form {
    border: 2px solid lightblue;
}

.tag-input {
    display: inline-block;
    min-width: 10px;
    max-width: 50px;
    border: 1px solid gray;
    border-radius: 3px;
}

#video-form {
    display: none;
}

#image-form {
    display: none;
}

#paragraph-form {
    display: none;
}

#show-header-forms {
    display: none;
}

#headerOne-form {
    display: none;
}

#headerTwo-form {
    display: none;
}

#headerThree-form {
    display: none;
}