.navbar{ 
    display: flex;
    border: pink 2px solid;
    align-items: center;
    justify-content: space-between;
}

.nav-right{
    justify-content: center;
    /* border: springgreen 2px solid; */
}

.nav-inner-right{
    justify-content: center;
    justify-self: center;
    /* border: 2px solid; */
}

.nav-inner-button{
    /* justify-self: center; */
    /* border: 5px solid slategrey; */
    justify-content: center;
    display: flex;
}