.about-container{
margin-top: 10vh;
// border: 4px solid red;
display: flex;
align-items: center;
justify-content: space-evenly;

}

.about-item{
    display: flex;
    margin-top: 1%;
    padding: 25px;
    color: white;
    height: 80vh;
    width: 20vw;
    
    flex-direction: column;
    justify-content: center;
}

.about-item > img{
    height: 100%;
    width: 75%;
    margin-left: 12.5%;
    min-height: 200px;
    min-width: 150px;
    border-radius: 3px;
    object-fit: cover;
    border: 1px solid rgba(172, 172, 172, 0.74);
    box-shadow: #747576 0 0 1.5em;
}
.about-name > h3{
    // font-size: 35px;
    font-size: 2vw;
    // color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.about-item > p{
    // color: white;
    font-family: 'Space Mono', monospace;

}

.about-name{
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-social-links{
    display: flex;
    justify-content: space-evenly;
    a{
        color: rgb(116, 116, 116);
        text-decoration: none;
        font-weight: lighter;
    }

    p{
        
    }
}


#susan:hover {
    color: black;
    background-color: #31CBFD;
    border-radius: 3px;
}

#alex:hover {
    color: black;
    background-color: #FBA602;
    border-radius: 3px;
}

#steven:hover {
    color: black;
    background-color: #aeff30;
    border-radius: 3px;
}

#anthony:hover {
    color: black;
    background-color: #fffa00;;
    border-radius: 3px;
}

.about-bio{
    // border: 4px solid green;
    margin-left: 20px;
    max-width: 250px;
    height: 260px;
    overflow: hidden;
    // font-size: 30px;
    // font-size: 1vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
