
#blue:hover {
    color: #F82F40;
    text-shadow: 0 0 30px #F82F40;
}

#red:hover {
    color: #31CBFD;
    text-shadow: 0 0 30px #31CBFD;
}

#orange:hover {
    color: #FBA602;
    text-shadow: 0 0 30px #FBA602;
}

#green:hover {
    color: #46F200;
    text-shadow: 0 0 30px #46F200;
}

#violet:hover {
    color: #1620E9;
    text-shadow: 0 0 30px #1620E9;
}

#fuschia:hover {
    color: #f124fd;
    text-shadow: 0 0 30px #f124fd;
}

#lightviolet:hover {
    color: #8326c5;
    text-shadow: 0 0 30px #8326c5;
}

#yellow:hover {
    color: #fffa00;
    text-shadow: 0 0 30px #fffa00;
}

#lightgreen:hover {
    color: #aeff30;
    text-shadow: 0 0 30px #aeff30;
}

#lightblue:hover {
    color: #3dfeff;
    text-shadow: 0 0 30px #3dfe
}








#blue {
    color: #F82F40;
    text-shadow: 5px 5px 40px #31CBFD;
}

#red {
    color: #31CBFD;
    text-shadow: 5px 5px 40px #F82F40;
}

#orange {
    color: #FBA602;
    text-shadow: 5px 5px 40px #FBA602;
}

#green {
    color: #46F200;
    text-shadow: 5px 5px 40px #46F200;
}

#violet {
    color: #1620E9;
    text-shadow: 5px 5px 40px #1620E9;
}

#fuschia {
    color: #f124fd;
    text-shadow: 5px 5px 40px #f124fd;
}

#lightviolet {
    color: #8326c5;
    text-shadow: 5px 5px 40px #8326c5;
}

#yellow {
    color: #fffa00;
    text-shadow: 5px 5px 40px #fffa00;
}

#lightgreen {
    color: #aeff30;
    text-shadow: 5px 5px 40px #aeff30;
}

#lightblue {
    color: #3dfeff;
    text-shadow: 5px 5px 40px #3dfeff;
}