$p1: hsl(317 100% 54%);
$p2: hsl(323 21% 15%);
$p3: #13ca91;

.navbar{ 
    display: flex;
    background-color: #1f2023;
    // border: red 2px solid;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    height: 65px;
    // background-color: lavender;
    // background-color: #414a4c;
    // border-bottom: white 2px solid;
    padding-bottom: 10px;
    // box-shadow: 0 6px 2px -2px cyan;
}

.nav-right{
    // position: fixed;
    // right: 5px;
    flex: 1 1;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    gap: 10px;
    text-decoration: none;
}


.nav-inner-right{
    justify-content: center;
    justify-self: center;
}

.nav-inner-button{
    justify-content: center;
    display: flex;
}

#dont {
    display: none;
}
.nav-inner-button > a{
    text-decoration: none;
}

.hclogo {
    font-size: 44px;
    position: fixed;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    // background: -webkit-linear-gradient(right #cbad6d, 50% #d53369);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    text-shadow: 0 0 1em cyan;

    // text-shadow: 0 0 1em cyan;
    // box-shadow: 0 0 3rem 0em currentColor;
    // border: 3px solid currentColor;
    flex: 4;
    font-weight: 500;
    // transition: all ease-in 1s;
    overflow: hidden;
    border-radius: 20px;
}

// .hclogo:hover {
    // color: wheat;
    // transition: all 1s linear;
    // text-shadow: 0 0 3em cyan;
    // background: -webkit-linear-gradient (#cbad6d, #d53369);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // position: absolute;;
// }

// .hclogo:before {
//     position: absolute;
//     width: 0;
// }

// .hclogo:hover::before{
//     width: 100%;
// }

// #menulogged{
//     max-width: 120px;
// }

#login-button,
#signup-button,
#demo-button {
    margin-top: 6px;;
    font-size: 18px;
    width: 80px;
    height: 25px;
}

#demo-button {
    margin-right: 10px;
}



// #demo-button{
//     margin-top: 6px;
//     font-size: 18px;
//     font-family: monospace;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
// }

.menu-icon-demo {
    // color: $p1;
    // border: $p3 solid 2px; 
    cursor: pointer;
    display: flex;
    font-size: 30px;
    padding: 6px;
    justify-self: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    padding-top: 11px;
    background: none;
    border: none;
    // box-shadow: 0 0 5px 3px $p3 ;
    // color: $p3;
    border-radius: 5px;

}

.menu-icon-demo:hover{
  color: white;
  text-shadow: none;
  background: $p3;
  box-shadow: 0 0 10px $p3, 0 0 30px $p3, 0 0 40px $p3,0 0 60px $p3;
  transition: .75s;
}
