.navbar{ 
    display: flex;
    // border: red 2px solid;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    height: 65px;
    // background-color: lavender;
    // background-color: #414a4c;
    border-bottom: white 2px solid;
    padding-bottom: 10px;
    box-shadow: 0 6px 2px -2px cyan;
}

.nav-right{
    flex: 1;
    justify-content: center;
    margin-right: 3%;
    display: flex;
    width: 100%;
    gap: 10px;
    text-decoration: none;
}


.nav-inner-right{
    justify-content: center;
    justify-self: center;
}

.nav-inner-button{
    justify-content: center;
    display: flex;
}
.nav-inner-button > a{
    text-decoration: none;
}

.hclogo {
    font-size: 44px;
    font-weight: 900;
    color: white;
    text-decoration: none;
    // background: -webkit-linear-gradient(right #cbad6d, 50% #d53369);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    text-shadow: 0 0 1em cyan;
    // box-shadow: 0 0 3rem 0em currentColor;
    // border: 3px solid currentColor;
    margin-left: 3%;
    flex: 4;
    font-weight: 500;
    transition: all ease-in 1s;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.hclogo:hover {
    // color: wheat;
    transition: all 1s linear;
    // text-shadow: 0 0 3em cyan;
    // background: -webkit-linear-gradient (#cbad6d, #d53369);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // position: absolute;;
}

.hclogo:before {
    position: absolute;
    width: 0;
}

.hclogo:hover::before{
    width: 100%;
}

#menulogged{
    max-width: 120px;
}

#login-button,
#signup-button{
    margin-top: 6px;;
    font-size: 18px;
    width: 80px;
    height: 25px;
}