.download-button{
    // border: 2px solid white;
     width: 120px;
     height: 30px;
     margin-right: 5vw;
    
}

.download-button > a {
    color: #a9d3f1;
    text-shadow: 
    0 0 7px #a9d3f1,
    0 0 10px #a9d3f1;
    width: 100%;
    text-decoration: none;
    border-bottom: navajowhite 2px solid;
}

.file-item{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    // flex: 2;
    // width: 45vw;
    width:90%;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 3%
}

.file-button{
    margin-left: 8px;
    flex: 3;
}

.file-details{
    flex: 6;
    // justify-self: center;
    align-self: center;
    border-left: tan 2px solid;
    padding-left: 10px;
}

.file-content {
    color: #7cd7c2
}

.profile-container{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    // border: solid 2px wheat
    gap: 10px;
}
.user-icon{
    height: 20vh;
    width: 10vw;
    align-self: center;
}

.icon-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.profile-name{
    display: flex;
    width: 80%;
    justify-content: center;
    text-align: center;
}

.bio-container{
    display: flex;
    width: 70%;
    justify-content: center;
    height: 50%;
    border: lightblue 2px solid;
    padding: 10px;
    padding-top: 20px;
    border-radius: 30px;
    text-align: center;
}

.bio-desc {
    width: 90%;
    height: 100%;
}

.left-profile{
    border: solid 3px paleturquoise;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fdcbfc;
    // text-shadow: 2px 2px 3px yellow;
    flex: 3;
    min-height: 80vh;
    border-radius: 20px;
}

.right-profile {
    flex: 7;
    min-height: 80vh;
}

.right-profile-header{
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: cyan;
}

.right-profile-content{
    border: cyan 2px solid;
    height: 100%;
    border-radius: 20px;
    width: 100%;
}

.profile-button-design{
    
}