::placeholder {
    text-shadow:0 0 1rem darkgoldenrod;
}

.session {
    color: $p3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    width: 40vw;
    align-self: center;
    justify-self: center;
    margin-left: 30%;
    // background: grey;
    // gap: none;
}

.session-form{
    border:2px #747576 solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 10px;
    padding-top: 10px;
    border-radius: 30px;
    box-shadow: #747576 0 0 3em;
    margin-top: 40px;
}

.session-form > div > input {
    height: 10vh;
    width: 70%;
    align-self: center;
    justify-self: center;
    display: flex;
    font-size: 30px;
}

.session-form > div {
    // justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
    gap: 10px;
}

.input {
    justify-self: center;
    align-self: center;
    width: 100%;
    // background-color: #d07dff;
    background-color: transparent;
    border: none;
    border-bottom: 2px #d07dff solid;
    box-shadow: 0 4px 1px -1px #dbb5f1;
    margin-left: 15%;
    color: #01FFC3;
}

.input:focus {
    outline:none;
    text-shadow:0 0 .75rem #E1EF7E;
}

$p4: #2196f3;
$p5: white;
.submit-button {
    cursor: pointer;
    position: relative;
    height: 50px;
    background: none;
    border: none;
    display: block;
    // padding: 15px 30px;
    // color: $p4;
    color: white;
    font-size: 26px;
    overflow: hidden;
    transition: .5s;
    width: 200px;
    align-self: center;
    border: 2px currentColor solid;
    margin-bottom: 44px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px 3px $p4;
    text-shadow: 0 0 0.75em currentColor;

}

.submit-button:hover {
    color: $p5;
    background: $p4;
    box-shadow: 
        0 0 10px $p4,
        0 0 20px $p4,
        0 0 30px $p4,
        0 0 40px $p4,
    ;
    transition-delay: .25s;
}

.submit-button span {
    position: absolute;
    display: block;
}

.formtype {
    font-size: 44px;
    letter-spacing: 30px;
    text-shadow: 0px 0px 20px #747576;
    margin-top: 125px;
    margin-left: 0.8em;
    // 0 0 2rem $p3,
    // 0 0 3rem $p3
}

.errors {
    color: red;
    font-size: 22px;
}