.tag-button {
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 120px;
    height: 30px;
}

.tag-form {
    border: 2px solid lightblue;
}

.tag-input {
    display: inline-block;
    min-width: 10px;
    max-width: 50px;
    border: 1px solid gray;
    border-radius: 3px;
}

#video-form {
    display: none;
}

#image-form {
    display: none;
}

#paragraph-form {
    display: none;
}

#show-header-forms {
    display: none;
}

#headerOne-form {
    display: none;
}

#headerTwo-form {
    display: none;
}

#headerThree-form {
    display: none;
}

#show-list-forms {
    display: none;
}

#orderedList-form {
    display: none;
}

#unorderedList-form {
    display: none;
}

