#tag-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#tags-top-row, #tags-bottom-row {
    display: flex;
    // flex-wrap: wrap;
}

.tag-button {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family: monospace;
    // font-weight: ;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    margin: 10px 10px;
}



.tag-form {
    color: #414a4c;
    height: 32px;
    width: fit-content;
    block-size: fit-content;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    padding-top: 7px;
    // padding: 5px 3px;
}

.tag-form > button {
    border: none;
    background-color: transparent;
    color: white;
}

.tag-input {
    display: inline-block;
    min-width: 10px;
    max-width: 60px;
    border: 1px solid gray;
    border-radius: 3px;
}







#show-header-options {
    font-weight: normal;
    color: #31CBFD;
    background-color: #414a4c;
    border: 1px solid #31CBFD;
    box-shadow: 0px 0px 5px #B1EBFE;
}

#show-list-options {
    font-weight: normal;
    color: #FBA602;
    background-color: #414a4c;
    border: 1px solid #FBA602;
    box-shadow: 0px 0px 5px #FDD78E;
}

#show-iframe-form {
    font-weight: normal;
    color: #ec94f4;
    background-color: #414a4c;
    border: 1px solid #ec94f4;
    box-shadow: 0px 0px 5px #F6CFFA;
}

#show-image-form {
    font-weight: normal;
    color: #fffa00;
    background-color: #414a4c;
    border: 1px solid #fffa00;
    box-shadow: 0px 0px 5px #FFFD95;
}

#show-paragraph-form {
    font-weight: normal;
    width: 140px;
    color: #46F200;
    background-color: #414a4c;
    border: 1px solid #46F200;
    box-shadow: 0px 0px 5px #B2FA95;
}





#show-header-options:hover { 
    color: #414a4c;
    background-color: #31CBFD;
}

#show-list-options:hover {
    color: #414a4c;
    background-color: #FBA602;
} 

#show-iframe-form:hover {
    color: #595c5d;
    background-color: #ec94f4;
}

#show-image-form:hover {
    color: #414a4c;
    background-color: #fffa00;
}

#show-paragraph-form:hover {
    width: 140px;
    color: #414a4c;
    background-color: #46F200;
}







#video-form {
    height: 24px;
    width: 230px;
    background-color: #ec94f4;
    display: none;
}

#video-form > input {
    width: 10px;
}

#image-form {
    background-color: #fffa00;
    box-shadow: 0px 0px 5px #FFFD95;
    height: 24px;
    display: none;
}

#image-form > input {
    width: 10px;
}

#paragraph-form {
    background-color: #46F200;
    box-shadow: 0px 0px 5px #B2FA95;
    height: 24px;
    display: none;
}

#show-header-forms {
    height: 24px;
    display: none;
}

#headerOne-form {
    height: 24px;
    color: #414a4c;
    background-color: #31CBFD;
    box-shadow: 0px 0px 5px #B1EBFE;
    display: none;
}

#headerTwo-form {
    height: 24px;
    color: #414a4c;
    background-color: #31CBFD;
    box-shadow: 0px 0px 5px #B1EBFE;
    display: none;
}

#headerThree-form {
    height: 24px;
    color: #414a4c;
    background-color: #31CBFD;
    box-shadow: 0px 0px 5px #B1EBFE;
    display: none;
}

#show-list-forms {
    height: 24px;
    display: none;
}

#orderedList-form {
    color: #414a4c;
    background-color: #FBA602;
    box-shadow: 0px 0px 5px #FDD78E;
    height: 24px;
    display: none;
}

#unorderedList-form {
    color: #414a4c;
    background-color: #FBA602;
    box-shadow: 0px 0px 5px #FDD78E;
    height: 24px;
    display: none;
}





#show-headerOne-form, 
#show-headerTwo-form,
#show-headerThree-form {
    font-size: 18px;
    font-weight: lighter;
    width: 80px;
    color: #414a4c;
    background-color: #31CBFD;
    box-shadow: 0px 0px 5px #B1EBFE;
    margin-right: 2px;
    margin-left: 1px;

}

#show-orderedList-form, 
#show-unorderedList-form {
    font-size: 18px;
    font-weight: normal;
    width: 100px;
    color: #414a4c;
    background-color: #FBA602;
    box-shadow: 0px 0px 5px #FDD78E;
    margin-right: 2px;
    margin-left: 1px;

}

