
$blue: #31CBFD;
$pink: #F861FF;
$bl: #1620E9;
$orange: #FBA602;
$lblue:  #56C9FF;
$red: #F82F40;
$green: #46F200;

$b1:#414a4c;
$b2: #3b444b;
$b3: #353839;
$b4: #232b2b;
$b5: #0e1111;


.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-modal--wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-modal {

  display: flex;
  background: $b1;
  flex-direction: row;
  height: 70vh;
  width: 50vw;
  z-index: 2222;
}

.exit-button {
  background: none;
  border: none;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  z-index: 2222;
  
}

.button-block {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.exit-button:hover {
  color: black;
}

.title-text {
  color: $orange;
  font-size: 66px;

}

.random-style {
  color: $orange;
}
.rand-block {
  display: flex;
  flex-direction: column;
  height: 70vh;
}