
$blue: #31CBFD;
$pink: #F861FF;
$bl: #1620E9;
$orange: #FBA602;
$lblue:  #56C9FF;
$red: #F82F40;
$green: #46F200;

$b1:#414a4c;
$b2: #3b444b;
$b3: #353839;
$b4: #232b2b;
$b5: #0e1111;

.home-modal-col-flex {
  display: flex;
  direction: column;
}

.modal-top-bar {
  display: flex,

}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-modal--wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1111;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-modal {

  display: flex;
  background: #335d63;
  flex-direction: column;
  height: 45vh;
  width: 60vw;
  max-width: 550px;
  max-height: 400px;
  z-index: 2222;
  border-radius: 3px;
  align-items: center;

}

.exit-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 2222;
  margin-right: 10px;
  margin-top: 10px;
  
}

.button-block {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.exit-button:hover {
  color: red;
}

.title-text {
  color: $orange;
  font-size: 66px;

}

.random-style {
  color: $orange;
}
.rand-block {
  display: flex;
  flex-direction: column;
  height: 70vh;
}


.modal-logo {
  font-size: 44px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  // background: -webkit-linear-gradient(right #cbad6d, 50% #d53369);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;

  // text-shadow: 0 0 1em cyan;
  // box-shadow: 0 0 3rem 0em currentColor;
  // border: 3px solid currentColor;

  font-weight: 500;
  transition: all ease-in 1s;
  overflow: hidden;
  border-radius: 20px;
  padding-left: 5px;
}

.description {
  color: white;
  padding: 30px;
  font-size: 20px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}